h1.Title{
	background-color: pink;
	text-align: center;
	font-family:ariel;
	font-size: 35pt;
}

div.burn{
	background-image:url(https://i.pinimg.com/564x/2b/f1/aa/2bf1aaa390357699c06ebe1b2ef72815.jpg);
	background-repeat: no-repeat;
	margin-top: 10 px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100 px;

}

img.profile_pic{
  display: block;
  margin:  auto;
  width: 10 VW;
}

img{
	width: 10 VW;
}

a{
	color:blue;
	font-size: 18;
}


a:hover {
	background-color: yellow;
}

p{
	font-size: 18;
}

h2{
	background-color: pink;
}
